body {
  background-color: #f8f6f2; /* Light off-white */
  color: #dcd7c7;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

.navbar, .navbar-brand, .navbar-nav .nav-link {
  background-color: black !important;
  color: white !important;
}

.navbar a.nav-link:hover {
  color: #cccccc !important;
}
